.deco-holder {
 margin-left: 45%;
 margin-top:12% ;   
}
.back-deco:hover{
    color: #bf8884;
    text-decoration: none;
}
.bk{
    margin-left: 4%;
}

.session {
    margin-left: 45%;
    // margin-top:10%;
}
.reg-holder {
margin-top: 10%;
}
.space {
    margin-left : 4%;
}