// https://www.google.com/search?q=black+background+decoration&tbm=isch&safe=strict&chips=q:black+background+decoration,g_1:blue+black+gold:c_G7KEYcVj8%3D&rlz=1C5CHFA_enSA874SA874&safe=strict&hl=en&ved=2ahUKEwj18sfWjs7mAhWM_4UKHV17DDMQ4lYoAnoECAEQFw&biw=1280&bih=597#imgrc=5ukE2B25dB-KlM
.headers{
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
}
.data {
    // font-family: 'Roboto', sans-serif;
    // font-family: 'Courgette', cursive;
    // font-family: 'Chewy', cursive;
    font-family: 'Itim', cursive;
    // font-family: 'Caveat Brush', cursive;
    font-weight: 900;
}
.home-body {
    background-image: url("https://images.squarespace-cdn.com/content/v1/586c8356d1758eb4883e1c6f/1536678686582-2XZMGOGWBTOLKW2KGN1I/ke17ZwdGBToddI8pDm48kPTrHXgsMrSIMwe6YW3w1AZ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0k5fwC0WRNFJBIXiBeNI5fKTrY37saURwPBw8fO2esROAxn-RKSrlQamlL27g22X2A/MEL_1246.jpg?format=2500w")
    // opacity: 0.5;
    // background-repeat:none;
    // background-size: 75% 50%;

}
.background{
    // width:100%;
    // length:100%;
    // opacity: 0.5;
}
image {
    opacity: 0.7;
    size:100%;
}

.sig{
    margin:10px;
}
.sign {
margin-left:81%;
margin-top:-2%;
}
.name{
    margin-left:40%;
    margin-top: 20%;
    font-family: 'Dancing Script', cursive;
    font-size: 4.5em;
    text-shadow: 2px 2px #8c7372;
    font-weight: 900;
    color:#dbc8c8;
}
.buttonHolder {
    margin-left:30%;
    margin-top: 7%;
}
// .home-button{
// background-color:#8c7372 ;
// }
.buttons{
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;   
}
button{
    // border-radius: 10px;
    // border-bottom-left-radius: 10px;
    font-size : 2em;
    font-weight: 800;
    // color:  #5c5952;
    background-color:  #8c7372;
    color:#dbc8c8;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    left: 50%;
    border-radius: 8px;
    border:3px #5c5e61 solid;
    background-color: #c9c9c9;
    border-style: outset;
    // background-image: url("https://images.squarespace-cdn.com/content/v1/586c8356d1758eb4883e1c6f/1536678686582-2XZMGOGWBTOLKW2KGN1I/ke17ZwdGBToddI8pDm48kPTrHXgsMrSIMwe6YW3w1AZ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0k5fwC0WRNFJBIXiBeNI5fKTrY37saURwPBw8fO2esROAxn-RKSrlQamlL27g22X2A/MEL_1246.jpg?format=2500w")
}
button:hover {
    border: 5px #5c5e61 solid;
    background-color: #d9d7d7;
    border-style: outset;

}
a:hover {
    color:  #5c5952;
    text-decoration: none;
    font-size: 1.2em; 
  }
a {
    color:#dbc8c8;
}
.session {
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5em;
    font-weight: 800;
    // justify-content: center;
    // flex-direction: column;
}
.my-events {
    margin-left:20% ; 
}
